.home {
  margin:auto;
  padding: 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  
}

.listbox {
  margin: 0 auto 0 auto;
}

.list {
  
  margin-left: 10rem;
  display: flex;
	flex-wrap: wrap;
  gap: 1rem;
  height: auto;

}